{% extends "bootstrap/base.html" %}

{% block title %}List{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="/">primo</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href='/'>root</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Favs
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="/home/ace">ace</a></li>
               <li><a href="/home/ace/AndroidDev/adt-bundle-linux-x86-20140702/eclipse">eclipse ADT</a></li>
               <li class="divider"></li>
               <li><a href="/">Separated link</a></li>
               <li class="divider"></li>
               <li><a href="/">One more separated link</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block actual_content %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}